<div id="chat-container">
    <h1>Chat en Tiempo Real</h1>
    <div id="messages"></div>
    <input id="messageInput" type="text" placeholder="Escribe tu mensaje..." />
    <button id="sendBtn">Enviar</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>
